@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
}

.botones {
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a {
    background-color: #0a2be9;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.botones a:focus {
    background-color: rgb(50, 194, 194);
}

.greetings {
    font-size: 7rem;
    font-weight: 900;
}

.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}

.greetings > span:nth-child(2),
.greetings > span:nth-child(3),
.greetings > span:nth-child(4),
.greetings > span:nth-child(5),
.greetings > span:nth-child(6) {
    animation-delay: 0.2s, 0.4s, 0.6s, 0.8s, 1s;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a {
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

/* Media Queries para diferentes tamaños de pantalla de celular */

/* Para dispositivos con pantalla de hasta 320px (por ejemplo, iPhone SE) */
@media screen and (max-width: 320px) {
    .greetings {
        font-size: 3.5rem;
    }
    .description {
        font-size: 1.2rem;
    }
    .button a {
        font-size: 0.9rem;
    }
}

/* Para dispositivos con pantalla de 321px a 375px (por ejemplo, iPhone 6/7/8) */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .greetings {
        font-size: 4rem;
    }
    .description {
        font-size: 1.3rem;
    }
    .button a {
        font-size: 1rem;
    }
}

/* Para dispositivos con pantalla de 376px a 414px (por ejemplo, iPhone X/XS/11 Pro) */
@media screen and (min-width: 376px) and (max-width: 414px) {
    .greetings {
        font-size: 4.5rem;
    }
    .description {
        font-size: 1.4rem;
    }
    .button a {
        font-size: 1.1rem;
    }
}

/* Para dispositivos con pantalla de 415px a 574px (por ejemplo, iPhone 12 Pro Max) */
@media screen and (min-width: 415px) and (max-width: 574px) {
    .greetings {
        font-size: 5rem;
    }
    .description {
        font-size: 1.5rem;
    }
    .button a {
        font-size: 1.2rem;
    }
}

